.grid_mainPage {
  display: grid;
  grid-template-areas:
          'head head head'
          'tren tren tren'
          'filt filt comm'
          'post post comm'
;}
.grid-header {
  grid-area: head;
  background-color: red;
}
.grid-trending-today {
  grid-area: tren;
  background-color: aqua;
}
.grid-filters {
  grid-area: filt;
  background-color: chartreuse;
}
.grid-posts {
  grid-area: post;
  background-color: crimson;
}
.grid-communities {
  grid-area: comm;
  background-color: cadetblue;
}







